<div class="container">
  <main>
    <div class="admin-menu "  *ngIf="authService.loggedIn() && authService.isAdmin()">
      <div class="card" routerLink="/clients">
        <div class="card-image">
          <i class="fa fa-handshake" aria-hidden="true"></i>
        </div>
        <div class="card-header">
          <h2>CLIENTS</h2>
          <p>Feb 01</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">65</div>
            <div class="type">existing</div>
          </div>
          <div class="stat stat-border">
            <div class="value">2</div>
            <div class="type">today</div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/projects">
        <div class="card-image">
          <i class="fa fa-project-diagram" aria-hidden="true"></i>
        </div>
        <div class="card-header">
          <h2>PROJECTS</h2>
          <p>Feb 01</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">10</div>
            <div class="type">existing</div>
          </div>
          <div class="stat stat-border">
            <div class="value">1</div>
            <div class="type">today</div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/orders">
        <div class="card-image">
          <i class="fa fa-newspaper" aria-hidden="true"></i>
        </div>
        <div class="card-header">
          <h2>ORDERS</h2>
          <p>Feb 01</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">35</div>
            <div class="type">open</div>
          </div>
          <div class="stat stat-border">
            <div class="value">5</div>
            <div class="type">today</div>
          </div>
        </div>
      </div>



      <div class="card" routerLink="/users">
        <div class="card-image">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="card-header">
          <h2>EMPLOYEES</h2>
          <p>Feb 01</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">41</div>
            <div class="type">current</div>
          </div>
          <div class="stat stat-border">
            <div class="value">0</div>
            <div class="type">today</div>
          </div>
        </div>
      </div>

      <div class="card" routerLink="/user-access">
        <div class="card-image">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <div class="card-header">
          <h2>SETTINGS</h2>
          <p>Feb 01</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">yes</div>
            <div class="type">ok</div>
          </div>
          <div class="stat stat-border">
            <div class="value">1</div>
            <div class="type">changed today</div>
          </div>
        </div>
      </div>
    </div>

    <div class="admin-master-view">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="admin-footer">
      <div class="copyright">
        <p> &copy; Copyright 2021  Schwebke-Shiskin & Associates, inc.   All Rights Reserved</p>
      </div>

    </div>
  </main>
</div>
