/*
.colors {
  color:rgb(172,26,87);
  color: rgb(255,7,110);
  color:  #343A40;
} */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: "admin-menu"
                       "admin-master-view"
                       "admin-footer";
}
.admin-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color:white; /*#343A40; */
  grid-area: admin-menu;
}
.admin-master-view {
grid-area: admin-master-view;
}
.admin-footer {
  background-color: #343A40;
  grid-area: admin-footer;
}
.copyright {
  color:#17a2b8;
  text-align: center;
}
.card {
  display:grid;
  margin: 10px;
  grid-template-columns: 200px;
  grid-template-rows: 50px 80px 50px;
  grid-template-areas: "image" "header" "stats";
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#445055;
  border:none;
  /* border: 1px solid #17a2b8; */
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 15px rgba(43, 58, 77, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-image {
  grid-area: image;
  font-size: 50px;
}
.card-header {
  border:none;
  background-color: white;
  margin:10PX;
  grid-area: header;
}
.card-header p {
  color: rgb(255,7,110);
  font-size: 15px;
  font-weight: 300px;
}
.card-header h2 {
  margin-top: 0px;
  font-size: 22px;
}
.card-stats {
  grid-area: stats;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background:black;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: grey;
}
.card-stats .type {
  font-size:10px;
  font-weight: 30px;
  text-transform: uppercase;
}
.card-stats .value {
  font-size: 20px;
  font-weight: 300;
  color:#17a2b8;
}
.card-stats .stat-border {
  border:none;
  border-left: 1px solid #17a2b8;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgb(0,0,0,0.6);
}
.card a {
  text-decoration: none;
}

/*
.card {
  background-color:#343A40;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 20%;
  height: 100%;
  border: 2px solid #17a2b8;
  color:white;
  text-align: center;
}
.card-header a{
  display: block;
  padding: .1rem 1rem;
  font-size:mediu;
  color: white;
  text-decoration: none;
  border-style: none;
}
.card-image {
  border-style: none;
  color:white;
  font-size: 30px;
}
.card-footer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #305257;
  color:orange;
  font-size: 30px;
} */
