
/* .example-card {
  max-width: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: flex;
  height: flex;
}


button{
  border-radius: 50%;
}
img{
  border-radius: 50%;
} */



.admin-menu {
display: flex;
padding: 10px 10px 10px 10px;
background-color:#343A40;
grid-area: admin-menu;
}

.admin-sidebar {
background-color: #F2F2F2;
grid-area: admin-sidebar;
}

 .sidebar-list-item {
  list-style: none;
  background-color: #343A40;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.admin-master-view {
background-color: lightslategray;
grid-area: admin-master-view;
}

.admin-detail-view {
background-color: lightslategray;
grid-area: admin-detail-view;
}

.admin-footer {
  background-color: #343A40;
  grid-area: admin-footer;
}

main {
  height: 100vh;;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: "admin-menu admin-menu"
                       "admin-master-view admin-detail-view"
                       "admin-footer admin-footer";
}
/* main {
  height: 100vh;;
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: "admin-sidebar admin-menu admin-menu"
                       "admin-sidebar admin-master-view admin-detail-view"
                       "admin-footer admin-footer admin-footer";
} */

.card {
  background-color:#343A40;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 20%;
  height: 100%;
  border: 2px solid #17a2b8;
  color:white;
  text-align: center;
}

/*
.client-card-color {
  border-color: green;
}
.order-card-color {
  border-color:blue;
}
.project-card-color {
  border-color:red;
}
.user-card-color {
  border-color:brown;
}
.setting-card-color {
  border-color:black;
}
*/
