<div class="container">
  <div class="card">
    <div class="heading text-center">
      <legend>REGISTER</legend>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">

        <div class="form-group">
            <label for="name">Name</label>
            <input  class="form-control"  placeholder="Enter Name" required formControlName="name">
        </div>

        <div class="form-group">
            <label for="last">Last</label>
            <input  class="form-control" id="last" placeholder="Enter Last Name"  required formControlName = "last">
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" [formControl]="email" required formControlName = "email">
        </div>

        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName = "password">
        </div>

        <div class="form-group">
            <label for="password2">Password</label>
            <input type="password" class="form-control" id="Password2" placeholder="Enter password again" formControlName = "password2">
        </div>

        <div class="form-group">
          <label for="isAdmin">Is Admin ?</label>
          <span><input type="checkbox" id="isAdmin" style="margin-left: 10px;" formControlName = "isAdmin"></span>
        </div>

        <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!registerForm.valid">Submit</button>
      </form>
  </div>
</div>


<!--
    <mat-card >
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
      <div class="example-container">
        <mat-form-field >
          <input matInput placeholder="Name" required formControlName = "name">
        </mat-form-field>

        <mat-form-field >
            <input matInput placeholder="Last" required formControlName = "last">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required formControlName = "email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required formControlName = "password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required formControlName = "password2">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        <div class="button-row">
            <button mat-fab color="primary" type="submit" value="Submit Form" [disabled]="!registerForm.valid">Register</button>
            <button mat-fab color="accent" routerLink="/home">Cancel</button>
        </div>
        <div style="text-align: center;">{{successMessage}}</div>
      </div>
    </form>
    </mat-card> -->

