
.container {
  display: flex;
  align-content: center;
  justify-content: center;
}



.button-row button,
.button-row a {
  margin-right: 8px;
}


.admin-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.card {
  height: 600px;
  width: 600px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
