<div class="container">

  <div>
    <div class="text-center">
      <legend>EDIT TIME</legend>
    </div>
    <div class="card-body">
        <form  [formGroup]="form">

            <div class="form-group">
                <label class="col-form-label" for="date">Date</label>
                <div class="input-group">
                <input formControlName="date" type="text " class="form-control" #date placeholder="yyyy-mm-dd" name="date"  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary fas fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                </div>
                </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" formControlName="description" #description id="description" placeholder="description">
            </div>
            <div class="form-group">
                <label for="time">Time</label>
                <input type="text" class="form-control" formControlName="time" #time id="time" placeholder="Regular time">
            </div>
            <div class="form-group">
                <label for="overTime">Over Time</label>
                <input type="text" class="form-control" formControlName="overTime" #time id="overTime" placeholder="Over time">
            </div>
        </form>
        <div class="text-center">
          <button class="btn btn-primary" routerLink="/times">Back</button>
          <button class="btn btn-success" type="submit" (click)="editTime()" >Save</button>
        </div>

    </div>

</div>
