table{
    width: 100%;
}

.mat-column-right{
  text-align: center;
}

.pointerCursor {
  cursor: pointer;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.card {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

