<div class="container">
  <div class="heading text-center">
    <legend>TIME</legend>
</div>
<div class="card">
  <div class="card-body">
    <!--<h1><i class="fas fa-plus-circle pointerCursor" routerLink="/create"></i></h1>-->
    <div class="card">
    <div>
      <ngb-datepicker #d (select)="onDateSelection($event)" [startDate]="{year:2021, month:2}" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
           {{ date.day }}
        </span>
      </ng-template>
    </div>
    </div>
    <hr>
<!--
          <hr>
          <div *ngIf="isExpanded">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>Order No.</th>
                  <th>Regular Time</th>
                  <th>Overtime</th>
                  <th>Total</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of timeByOrder">
                  <td>{{data.orderNumber}}</td>
                  <td>{{data.time}}</td>
                  <td>{{data.overTime}}</td>
                  <td>{{data.time + data.overTime}}</td>
                  <td>
                      <div class="form-group form-inline" >
                        <h5><a style="padding-right: 10px"><i  class="fas fa-edit pointerCursor" (click) = "toggle(data.orderNumber)"></i></a></h5>
                          <h5><a style="padding-right: 10px"><i  class="fas fa-edit pointerCursor" (click) = "editTime(data._id)"></i></a></h5>
                          <h4><a style="padding-right: 10px"><i  class="fas fa-trash-alt pointerCursor" (click) = "deleteTime(data._id)"></i></a></h4>
                      </div>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        -->
          <hr>
          <div >
                <table class="table table-striped table-hover table-sm table-bordered">
                  <thead class="text-center" style="background-color: var(--navbar-color); color:white">
                    <tr>
                      <th>Order No.</th>
                      <th>Regular Time</th>
                      <th>Overtime</th>
                      <th>Total</th>
                     <!-- <th>Actions</th>-->
                    </tr>
                  </thead>
                  <tbody>
                      <tr class="pointerCursor" *ngFor = "let data of filteredOrderTotals" (click) = "toggle(data.orderNumber)" >
                      <td>{{data.orderNumber}}</td>
                      <td>{{data.totalTime}}</td>
                      <td>{{data.totalOverTime}}</td>
                      <td>{{data.totalTime + data.totalOverTime}}</td>
                     <!-- <td>
                          <div class="form-group form-inline" >
                            <h5><a style="padding-right: 10px"><i  class="fas fa-edit pointerCursor" (click) = "toggle(data.orderNumber)"></i></a></h5>
                              <h5><a style="padding-right: 10px"><i  class="fas fa-edit pointerCursor" (click) = "editTime(data._id)"></i></a></h5>
                              <h4><a style="padding-right: 10px"><i  class="fas fa-trash-alt pointerCursor" (click) = "deleteTime(data._id)"></i></a></h4>
                          </div>
                      </td>-->
                    </tr>
                  </tbody>

                  </table>
            </div>
  </div>
</div>
</div>
