
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "box1 box2";
}
.box1 {
  width:100%;
    grid-area: box1;
}

.box2 {
    width: 1fr;
    grid-area: box2;
}

.card {
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.container {
  padding:20px;
  margin:0;
}
