

<ngb-tabset [justify]="currentJustify">
    <ngb-tab>
        <ng-template ngbTabTitle><b>ORDER</b></ng-template>
      <ng-template ngbTabContent>

<div *ngIf="order">
    <div>
    <div class='row'>

      <div class="col-3 left">
        <p>BROWARD: 954-435-7010</p>
        <p>Dade: 305-652-7010</p>
      </div>
      <div class="col-6 center">
        <h3>Schwebke-Shiskin & Associates, Inc.</h3>
      </div>
      <div class="col-3 right">
        <p>3240 CORPORATE WAY</p>
        <p>MIRAMAR, FL 33025</p>
      </div>
    </div>

    <div class='row'>
          <div class="col-4 left">
            <h4>LAND SURVEYORS</h4>
          </div>
          <div class="col-4 center">
          <h4>ENGINEERS</h4>
          </div>
          <div class="col-4 right">
            <h4>LAND PLANNERS</h4>
          </div>
    </div>
    </div>
  <!--End of heading-->

  <!--Beginning Client Info-->
    <div class="row top-padding">
      <div class="col-6 left">
        <h4>DATE</h4>
      </div>
      <div class="col-6 right">
        <h4>PHONE</h4> {{order.phoneNumber}}
      </div>
    </div>
    <div class="row">
      <div class="col left">
        <h4>NAME OF CLIENT</h4> {{order.clientName}}
        <h4>ADDRESS</h4> {{order.address}}
      </div>
    </div>
    <div class="row top-padding">
      <div class="col-6 left">
        <h5>LEGAL DESCRIPTION AND SPECIAL INSTRUCTIONS</h5>
      </div>
      <div class="col-3 right">
        <h5>FIELD WORK PROMISSED  </h5>
        <H5>PRINTS PROMISSED</H5>
      </div>
      <div class="col-3">
          {{order.fieldWorkPromissed}}
          {{order.printsPromissed}}
      </div>
    </div>
    <div class="row left top-padding">
      <p>{{order.legalDescription}}</p>
    </div>

  </div>
     <div *ngIf="order">
        {{order.orderNumber}}
     </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>OFFICE</b> order</ng-template>
      <ng-template ngbTabContent >

        <ul *ngFor="let time of order.time;">
          <li>{{time.date | date}} {{time.projectName}} {{time.description}} {{time.clientName}} {{time.userName}} {{time.time}}</li>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>FIELD</b> order</ng-template>
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sap</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>



<!-- <mat-card class="order-card">
=======
<div>
    <h1>{{order.orderNumber}}</h1>
    <h2>{{order.project}}</h2>
    <h3>{{order.client}}</h3>

    <mat-grid-list cols="6" rowHeight=300px>
        <mat-grid-tile [colspan]=3 [rowspan]=1>

          <div class="child">
              <h2><p>Date:</p></h2>
              <h2><p>Description:</p></h2>
              <h2><p>Status:</p></h2>
              <h2><p>Billed:</p></h2>
           </div>
           <div class="child">
           <h2><p>{{order.date | date}}</p></h2>
              <h2><p>{{order.description}}</p></h2>
              <h2><p>{{order.status}}</p></h2>
              <h2><p>{{order.isBilled}}</p></h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=3 [rowspan]=1>
            <div class="child">
                <h2>Regular Time: </h2>
                <h2>Overtime: </h2>
                <h2>Total Time: </h2>
                <h2>Progress: </h2>
            </div>
            <div class="child">
              <h2><p>Get the regular time</p></h2>
                <h2><p>Get the Overtime</p></h2>
                <h2><p>Get Total Time</p></h2>
                <h2><p>Get Progress</p></h2>
              </div>
          </mat-grid-tile>

      </mat-grid-list>
    </div>
    </section>
  </mat-card>

  <div >
      <mat-card style="background-color: #2E333A;">
        <table mat-table [dataSource] = "order.time" style="background-color: #2E333A;">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{ element.date | date}}</td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let element"> {{element.user}} {{element.user.last}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}}</td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element"> {{element.time}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
          <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>

    </div> -->
