<div>
  <br>
  <mat-card>
    <section class = "mat-typography>">
      <h3> Add Time</h3>
    </section>

    <mat-divider></mat-divider>

    <br>
    <form [formGroup]="createForm" class="create-form">


        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
      <mat-form-field>
          <input matInput [matDatepicker]="datePicker" 
            formControlName="date" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Order" formControlName="order" #order>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Name" formControlName="order" #name>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Last" formControlName="order" #last>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Description" formControlName="description" #description>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Time" formControlName="time" #time>
      </mat-form-field>

      <mat-divider></mat-divider>
    </form>
      <br><br>
      <button mat-raised-button color = "accent" routerLink="/times">Back</button>
      <button type="submit" (click)="addTime(
                  date.value,
                  order.balue,
                  name.value,
                  last.value,
                  description.value,
                  time.value)" [disabled]="createForm.pristine" mat-raised-button color="primary">Save</button>&nbsp;
  
  </mat-card>
</div>