<!-- <div>
  <br>
  <mat-card>
    <section class = "mat-typography>">
      <h3> New Time</h3>
    </section>

    <mat-divider></mat-divider>

    <br>
    <div >
    <form [formGroup]="createForm" class="create-form">

  
      <mat-form-field>
          <input matInput [matDatepicker]="date"
            formControlName="date" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="field-full-with">
          <input matInput placeholder = "Order Number" formControlName="orderNumber" #orderNumber>
        </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Description" formControlName="description" #description>
      </mat-form-field>

      <mat-form-field class="field-full-with">
        <input matInput placeholder = "Time" formControlName="time" #time>
      </mat-form-field>

      <mat-divider></mat-divider>
    </form>
      <br><br>
      <button mat-raised-button color = "accent" routerLink="/times">Back</button>
      <button type="submit" (click)="addTime()"  [disabled]="createForm.pristine" mat-raised-button color="primary">Save</button>&nbsp;
    </div>
  </mat-card>
</div>
 -->