

<div class="card bg-light">
    <div class="card-body">
        <form [formGroup]='form'>
            <legend>New Order</legend>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label" for="date">DATE</label>
                <div class="input-group">
                <input formControlName="date" type="text" class="form-control" placeholder="yyyy-mm-dd" name="date"  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary fas fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="clientName">NAME OF CLIENT</label>
                <input formControlName="clientName" type="text" class="form-control" placeholder="Name of client" id="clientName">
                <div *ngIf="form.get('clientName').touched && form.get('clientName').invalid" class="alert alert-danger">Client Name is required</div>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="clientName">ADDRESS</label>
                <input formControlName="address" type="text" class="form-control" placeholder="Address" id="address">
                <div *ngIf="form.get('address').touched && form.get('address').invalid" class="alert alert-danger">Address is required</div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label" for="phoneNumber">PHONE</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone Number" id="phoneNumber">
                <div *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid" class="alert alert-danger">Phone No. is required</div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="fieldWorkPromissed">FIELD WORK PROMISSED</label>
                <input formControlName="fieldWorkPromissed" type="text" class="form-control" placeholder="Field work promissed" id="fieldWorkPromissed">
                <div *ngIf="form.get('fieldWorkPromissed').touched && form.get('fieldWorkPromissed').invalid" class="alert alert-danger">Field Work Promissed is required</div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="printsPromissed">PRINTS PROMISSED</label>
                <input formControlName="printsPromissed" type="text" class="form-control" placeholder="Prints Promissed" id="printsPromissed">
                <div *ngIf="form.get('printsPromissed').touched && form.get('printsPromissed').invalid" class="alert alert-danger">Prints promissed is required</div>
            </div>
        </div>
      </div>
      <div class="form-group">
          <label class="col-form-label" for="projectName">PROJECT NAME</label>
          <input formControlName="projectName" type="text" class="form-control" placeholder="Project Name" id="projectName">
          <div *ngIf="form.get('projectName').touched && form.get('projectName').invalid" class="alert alert-danger">Project Name is required</div>
      </div>

      <div class="form-group">
          <label class="col-form-label" for="legalDescription">LEGAL DESCRIPTION</label>
          <textarea formControlName="legalDescription" type="text" class="form-control" placeholder="Legal Description" id="legalDescription"></textarea>
          <div *ngIf="form.get('legalDescription').touched && form.get('legalDescription').invalid" class="alert alert-danger">Legal Description is required</div>
      </div>

     <div class="row">
       <div class="col-md-6">
         <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label" for="description">ORDER PLACED BY</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label" for="description">REC'D:</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
            </div>
         </div>
       </div>
       <div class="form-group">
          <label class="col-form-label" for="description">REFER TO FILE No.</label>
          <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
          <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
      </div>
      <div class="form-group">
          <label class="col-form-label" for="description">REFER TO FB No.</label>
          <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
          <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
      </div>
      <div class="form-group">
          <label class="col-form-label" for="description">REFER ORDER No.</label>
          <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
          <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
      </div>
      </div>
       <div class="col-md-6">
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label" for="fieldBook">FB</label>
                    <input formControlName="fieldBook" type="text" class="form-control" placeholder="Field Book" id="fieldBook">
                    <div *ngIf="form.get('fieldBook').touched && form.get('fieldBook').invalid" class="alert alert-danger">fieldBook is required</div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label" for="page">PG</label>
                    <input formControlName="page" type="text" class="form-control" placeholder="Page" id="page">
                    <div *ngIf="form.get('page').touched && form.get('page').invalid" class="alert alert-danger">Page is required</div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-form-label" for="section">SEC</label>
                    <input formControlName="section" type="text" class="form-control" placeholder="Section" id="section">
                    <div *ngIf="form.get('section').touched && form.get('section').invalid" class="alert alert-danger">Description is required</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-form-label" for="township">TWP</label>
                    <input formControlName="township" type="text" class="form-control" placeholder="Township" id="township">
                    <div *ngIf="form.get('township').touched && form.get('township').invalid" class="alert alert-danger">Township is required</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-form-label" for="range">RGE</label>
                    <input formControlName="range" type="text" class="form-control" placeholder="Range" id="range">
                    <div *ngIf="form.get('range').touched && form.get('range').invalid" class="alert alert-danger">Range is required</div>
                </div>
            </div>
          </div>

              <div class="form-group">
                  <label class="col-form-label" for="partyChief">PARTY CHIEF</label>
                  <input formControlName="partyChief" type="text" class="form-control" placeholder="Party Chief" id="partyChief">
                  <div *ngIf="form.get('partyChief').touched && form.get('partyChief').invalid" class="alert alert-danger">Party Chief is required</div>
              </div>
              <div class="form-group">
                  <label class="col-form-label" for="dateCompleted">DATE COMPLETED</label>
                  <input formControlName="dateCompleted" type="text" class="form-control" placeholder="Date Completed" id="dateCompleted">
                  <div *ngIf="form.get('dateCompleted').touched && form.get('dateCompleted').invalid" class="alert alert-danger">Date Completed is required</div>
              </div>
       </div>

      </div>
      <div class="row">
          <div class="col-md-6">
           <div class="row">
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="col-form-label" for="mail">MAIL</label>
                     <input formControlName="mail" type="text" class="form-control" placeholder="Mail" id="mail">
                     <div *ngIf="form.get('mail').touched && form.get('mail').invalid" class="alert alert-danger">Mail is required</div>
                 </div>
                 <div class="form-group">
                    <label class="col-form-label" for="deliver">DELIVER</label>
                    <input formControlName="deliver" type="text" class="form-control" placeholder="Deliver" id="deliver">
                    <div *ngIf="form.get('deliver').touched && form.get('deliver').invalid" class="alert alert-danger">Deliver is required</div>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="description">PICK UP</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                    <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                </div>
             </div>
             <div class="col-md-8">
                 <div class="form-group">
                     <label class="col-form-label" for="description">PRINTS TO</label>
                     <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                     <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                 </div>
                 <div class="form-group">
                    <label class="col-form-label" for="description">PRINTS TO</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                    <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="description">PRINTS AT (TIME)</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                    <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                </div>
             </div>
           </div>
          </div>
          <div class="col-md-6">
             <div class="form-group">
                 <label class="col-form-label" for="description">DATE INVOICE:</label>
                 <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                 <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
             </div>
             <div class="form-group">
                 <label class="col-form-label" for="description">AMOUNT SET BY:</label>
                 <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                 <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
             </div>
             <div class="form-group">
                <label class="col-form-label" for="description">INVOICE TYPED BY:</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
            </div>
           </div>
        </div>
        <div class="row">
          <div class="col-md-6">
             <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                      <label class="col-form-label" for="description">COURIER FEES</label>
                      <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                      <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                      <label class="col-form-label" for="description">APPL/PERMIT FEES</label>
                      <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
                      <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">Description is required</div>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-md-6">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">COD</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">NO COD</label>
                  </div>
          </div>
        </div>
            <div class="form-group">
                <label class="col-form-label" for="orderNumber">Order Number</label>
                <input formControlName="orderNumber" type="text" class="form-control" placeholder="Order Number" id="orderNumber">
                <div *ngIf="form.get('orderNumber').touched && form.get('orderNumber').invalid" class="alert alert-danger">Order Number is required</div>
            </div>




            <!-- <div class="form-group">
                <label class="col-form-label" for="isBilled">Is Billed</label>
                <input formControlName="isBilled" type="text" class="form-control" placeholder="Is Billed" id="isBilled">
                <div *ngIf="form.get('isBilled').touched && form.get('isBilled').invalid" class="alert alert-danger">Is billed is required</div>
              </div>

            <div class="form-group">
              <label class="col-form-label" for="status">Status</label>
              <input formControlName="status" type="text" class="form-control" placeholder="Status" id="status">
              <div *ngIf="form.get('status').touched && form.get('status').invalid" class="alert alert-danger">Status is required</div>
            </div> -->

            <button  class="btn btn-primary" color = "accent" routerLink="/orders">Back</button>
            <button class="btn btn-success" type="submit" (click)="addOrder()" [disabled]="form.pristine"  >Save</button>
          </form>
    </div>
  </div>
