table{
    width: 100%;
}
.mat-column-right{
    text-align: center;
}

.box{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border: 2px solid #2E333A
}
.child{
  display: inline-block;
  padding: 25px;
  text-align: left;
}
.example-chip-list {
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
 text-align: center;
}



.order-card {
  max-width: auto;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(66, 139, 207);
 border: 2px solid gold;
}