
<div>
    <mat-card>
      <button mat-fab color="primary" routerLink="/orders/create">+</button>
      <br><br>
      <mat-divider></mat-divider>
    </mat-card>
  </div>

<div >
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor=" let order of orders">
   
    <mat-expansion-panel-header (click) = "getOrderId(order._id)">
      <mat-panel-title>

        <mat-chip-list >
          <mat-chip color="accent" selected>
              {{order.orderNumber}}
          </mat-chip>
        </mat-chip-list>

      </mat-panel-title>
      <mat-panel-description>
        <h3>{{order.project}}</h3>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="box">

        <mat-grid-list cols="6" rowHeight=300px>
            <mat-grid-tile [colspan]=3 [rowspan]=1>

              <div class="child">
                  <p> Date: {{order.date | date}}</p>
                  <p>Description: {{order.description}}</p>
                  <p>Status: {{order.status}}</p>
                  <p>Billed: {{order.isBilled}}</p>
               </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]=3 [rowspan]=1>
                <div class="child">
                    <p>Regular Time: </p>
                    <p>Overtime: </p>
                    <p>Total Time: </p>
                    <p>Progress: </p>
                </div>
              </mat-grid-tile>
          </mat-grid-list>

    </div>

    <div >
        <app-time-list [currentOrderId] = "currentOrderId" [isOrderRequest] ="requestOrder"></app-time-list>
<!--
        <mat-card>
          <table mat-table [dataSource] = order.time>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element"> {{element.date | date}}</td>
            </ng-container>

            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let element"> {{element.user_name}}</td>
            </ng-container>


            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td mat-cell *matCellDef="let element"> {{element.time}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
              <td mat-cell *matCellDef="let element" class="mat-column-right">
                <button mat-button color ="primary" (click) = "editOrder(element._id)">Edit</button>
                <button mat-button color ="warn" (click) = "deleteOrder(element._id)">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
    
      </div>

  </mat-expansion-panel>
</mat-accordion>
-->
</div>

