table{
    width: 100%;
}
.mat-column-right{
    text-align: center;
}

.box{
  width: auto;
  height: auto;
  margin: 0 auto;
<<<<<<< HEAD
  padding: 5px;
  text-align: center;
  border: 1px solid orchid
=======
  padding: 15px;
  text-align: left;
>>>>>>> f57351df06615a7f1cd05ba98f504cab69c98c5e
}
.child{
  display: inline-block;
  padding: 25px;
  text-align: left;
}
.example-chip-list {
  width: 100%;
}



.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
 text-align: center;
}
