


<body>
  <div class="wrapper">
    <div id="box1">
      <h1 style="color:rgba(0, 0, 0, 0.664)">Welcome to Timelog!</h1>
      <div>
        <h5 style="color:rgba(247, 167, 19, 0.829)">Shwebke-Shiskin & Associates new ERP system</h5>
      </div>

    </div>
    <div id="box2">
      <div class="circle-implemented">
        <legend>IMPLEMENTED</legend>
      </div>
    </div>
    <div id="box3">
      <i class="fa fa-angle-double-right" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box4">
      <div id="box4-details" style="padding-right: 5px;">
        <h5>Clients/Projects/Time:</h5><p>Create, Edit, Delete, Search, View</p>
        <h5>Orders:</h5><p>Create, Edit, Search, View</p>
        <h5 >Employees:</h5><p>Registration, Login, Logout</p>
        <h5>Settings:</h5><p>Employee access list</p>
      </div>
    </div>
    <div id="box5">
      <i class="fa fa-angle-double-down" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box6">
      <div id="box6-details">
          <h5>Projects/Orders</h5><P>Add project and order from their own menu</P>
          <h5>Time</h5><p>Add Time from Time menu, Improve time details</p>
          <h5>Employees</h5><p>Recover Password, Remove</p>
          <h5>Settings</h5><p>Update access</p>
      </div>
    </div>
    <div id="box7">
      <i class="fa fa-angle-double-left" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box8">
      <div class="circle-in-progress">
        <legend>IN PROGRESS</legend>
      </div>
    </div>
    <div id="box9">
      <i class="fa fa-angle-double-down" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box10">
      <div class="circle-future">
        <legend>FUTURE</legend>
      </div>
    </div>
    <div id="box11">
      <i class="fa fa-angle-double-right" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box12">
      <div id="box12-details">
        <h5>REPORTING TOOLS</h5>
          <ul>
            <li>Order Statistics, Project Statistics, Aggregated Statistics, Outlook Prediction Algorithm</li>
          </ul>
          <h5>PRINTING/BACKUP</h5>
          <ul>
            <li>Order Printing/backup, Reports Printing/backup</li>
          </ul>
          <h5>OTHER APPS</h5>
          <ul>
            <li>Integration with project directory creator, Integration with tree file creator</li>
          </ul>
      </div>
    </div>
<!--     <div id="jumbo">Jumbo</div>
    <div id="implemented">Implemented</div>
    <div id="arrow-right">Arrow Right</div>
    <div id="implemented-details">Implemented Details</div>
    <div id="arrow-down">Arrow Down</div>
    <div id="in-progress">In Progress</div>
    <div id="arrow-left">Arrow Left</div>
    <div id="in-progress-details">Progress Details</div>
    <div id="arrow-down">Arrow Down</div>
    <div id="future">Future</div>
    <div id="arrow-right">Arrow Right</div>
    <div id="future-details">Future Details</div> -->
  </div>




    <!-- <div class="jumbotron jumbotron-fluid text-center" style="margin-top:20px">
      <h2 class="display-3">Welcome to Timelog!</h2>
      <p class="lead">Shwebke-Shiskin & Associates new ERP system</p>
      <hr class="my-4">
      <p>Please follow the roadmap to see what features are already implemented and what is soon to come.</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">1 IMPLEMENTED</div>
            <div class="card-body">


              <h5 class="card-title">Clients</h5>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">2 IN PROGRESS</div>
                <div class="card-body">
                  <h5 class="card-title">Clients</h5>
                  <ul>
                    <li>No work in progress</li>
                  </ul>
                  <h5 class="card-title">Projects</h5>
                  <ul>
                    <li>Add project from project menu</li>
                  </ul>
                  <h5 class="card-title">Orders</h5>
                  <ul>
                    <li>Add Order from Order menu</li>
                  </ul>
                  <h5 class="card-title">Time</h5>
                  <ul>
                    <li>Add Time from Time menu</li>
                    <li>Improve time details</li>
                  </ul>
                  <h5 class="card-title">Employees</h5>
                  <ul>
                    <li>Recover Password, Remove</li>
                  </ul>
                  <h5 class="card-title">Settings</h5>
                  <ul>
                    <li>Update access</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">3 FUTURE</div>
                <div class="card-body">
                  <h5 class="card-title">REPORTING TOOLS</h5>
                  <ul>
                    <li>Order Statistics</li>
                    <li>Project Statistics</li>
                    <li>Aggregated Statistics</li>
                    <li>Outlook Prediction Algorithm</li>
                  </ul>
                  <h5 class="card-title">PRINTING/BACKUP</h5>
                  <ul>
                    <li>Order Printing/backup</li>
                    <li>Reports Printing/backup</li>
                  </ul>
                  <h5 class="card-title">OTHER APPS</h5>
                  <ul>
                    <li>Integration with project directory creator</li>
                    <li>Integration with tree file creator</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
    </div> -->
