

    <div class="jumbotron jumbotron-fluid text-center" style="margin-top:20px">
      <h2 class="display-3">Welcome to Timelog!</h2>
      <p class="lead">Shwebke-Shiskin & Associates new ERP system</p>
      <hr class="my-4">
      <p>Please follow the roadmap to see what features are already implemented and what is soon to come.</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">1 IMPLEMENTED</div>
            <div class="card-body">


              <h4 class="card-title">Clients</h4>
              <ul>
                <li>Create, Edit, Delete, Search, View</li>
              </ul>

              <h4 class="card-title">Projects</h4>
              <ul>
                <li>Create, Edit, Delete, Search, View</li>
              </ul>

              <h4 class="card-title">Orders</h4>
              <ul>
                <li>Create, Edit, Search, View</li>
              </ul>

              <h4 class="card-title">Time</h4>
              <ul>
                <li>Create, Edit, Delete, Search, View</li>
              </ul>

              <h4 class="card-title">Users</h4>
              <ul>
                <li>Registration, Login, Logout</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">2 IN PROGRESS</div>
                <div class="card-body">
                  <h4 class="card-title">Clients</h4>
                  <ul>
                    <li>No work in progress</li>
                  </ul>
                  <h4 class="card-title">Projects</h4>
                  <ul>
                    <li>Add project from project menu</li>
                  </ul>
                  <h4 class="card-title">Orders</h4>
                  <ul>
                    <li>Add Order from Order menu</li>
                  </ul>
                  <h4 class="card-title">Time</h4>
                  <ul>
                    <li>Add Time from Time menu</li>
                    <li>Improve time details</li>
                  </ul>
                  <h4 class="card-title">Users</h4>
                  <ul>
                    <li>Recover Password</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">3 FUTURE</div>
                <div class="card-body">
                  <h4 class="card-title">REPORTING TOOLS</h4>
                  <ul>
                    <li>Order Statistics</li>
                    <li>Project Statistics</li>
                    <li>Aggregated Statistics</li>
                    <li>Outlook Prediction Algorithm</li>
                  </ul>
                  <h4 class="card-title">PRINTING/BACKUP</h4>
                  <ul>
                    <li>Order Printing/backup</li>
                    <li>Reports Printing/backup</li>
                  </ul>
                  <h4 class="card-title">OTHER APPS</h4>
                  <ul>
                    <li>Integration with project directory creator</li>
                    <li>Integration with tree file creator</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
    </div>
