<div class="container">
  <div class="card">

  <div class="wrapper">
    <div id="box1">
      <h1 style="color:rgba(0, 0, 0, 0.664)">Welcome to Timelog!</h1>
      <div>
        <h5 style="color:rgb(255, 255, 255)">Shwebke-Shiskin & Associates, inc. new ERP system</h5>
      </div>

    </div>
    <div id="box2">
      <div class="circle-implemented">
        <legend>IMPLEMENTED</legend>
      </div>
    </div>
    <div id="box3">
      <i class="fa fa-angle-double-right" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box4">
      <div id="box4-details" style="padding-right: 5px;">
        <h5>Clients/Projects/Time:</h5><p>Create, Edit, Delete, Search, View</p>
        <h5>Orders:</h5><p>Create, Edit, Search, View</p>
        <h5 >Employees:</h5><p>Registration, Login, Logout</p>
        <h5>Settings:</h5><p>Employee access list</p>
      </div>
    </div>
    <div id="box5">
      <i class="fa fa-angle-double-down" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box6">
      <div id="box6-details">
          <h5>Projects/Orders</h5><P>Add project and order from their own menu</P>
          <h5>Time</h5><p>Add Time from Time menu, Improve time details</p>
          <h5>Employees</h5><p>Recover Password, Remove</p>
          <h5>Settings</h5><p>Update access</p>
      </div>
    </div>
    <div id="box7">
      <i class="fa fa-angle-double-left" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box8">
      <div class="circle-in-progress">
        <legend>IN PROGRESS</legend>
      </div>
    </div>
    <div id="box9">
      <i class="fa fa-angle-double-down" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box10">
      <div class="circle-future">
        <legend>FUTURE</legend>
      </div>
    </div>
    <div id="box11">
      <i class="fa fa-angle-double-right" style="color:rgb(82, 90, 90)" aria-hidden="true"></i>
    </div>
    <div id="box12">
      <div id="box12-details">
        <h5>REPORTING TOOLS</h5>
          <ul>
            <li>Order Statistics, Project Statistics, Aggregated Statistics, Outlook Prediction Algorithm</li>
          </ul>
          <h5>PRINTING/BACKUP</h5>
          <ul>
            <li>Order Printing/backup, Reports Printing/backup</li>
          </ul>
          <h5>OTHER APPS</h5>
          <ul>
            <li>Integration with project directory creator, Integration with tree file creator</li>
          </ul>
      </div>
    </div>
  </div>
  </div>
