


<mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile matTooltip="Client's can use this area to login and get services"><img src="../assets/images/clients2.png" alt="associates" style="width:300px"></mat-grid-tile>
    <mat-grid-tile matTooltip="SSA employees login area"><img src="../assets/images/associates.png" alt="associates" style="width:300px"></mat-grid-tile>
    <mat-grid-tile matTooltip="SSA system administrator's area"><img src="../assets/images/admin.png" alt="admin" style="width:300px"></mat-grid-tile>
</mat-grid-list>



+
