<!--
<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <img src="../assets/images/human-resources-1.jpg" alt="associates">
    </mat-grid-tile>
</mat-grid-list> -->

<div class="example-container">

    <div class="jumbotron jumbotron-fluid">
      <h2 class="display-3">Welcome to Timelog!</h2>
      <p class="lead">This is the test site for Timelog, Shwebke-Shiskin & Associates new productivity applications package.</p>
      <hr class="my-4">
      <p>Please follow the roadmap to see what features are already implemented and what is soon to come.</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">1 IMPLEMENTED</div>
            <div class="card-body">
              <h4 class="card-title">Work Orders</h4>
              <ul>
                <li>Create Work orders</li>
                <li>Edit Work orders</li>
                <li>Search for Work orders</li>
                <li>Add employee time to Work orders</li>
              </ul>
              <h4 class="card-title">Users</h4>
              <ul>
                <li>User Registration</li>
                <li>User Login</li>
                <li>User Logout</li>
                <li>View Time ordered by date</li>
                <li>Edit Time</li>
                <li>Delete Time</li>
              </ul>
            </div>
          </div>

          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Notes on Implementation</div>
            <div class="card-body">
              <h4 class="card-title">Work Orders</h4>
              <p class="card-text">As of now the order number must be inserted manually; in the production
                application, this value will be provided automatically.
              </p>
              <p class = "card-text">
                Other features that will be available in the production application, are the linking of
                client, and project information to the work order creation process.
              </p>
              <h4 class="card-title">Users</h4>
              <p class="card-text">The avility to create time through the user menu, although
                it is implemented, will not be available at this time.
              </p>
              <p class = "card-text">
                As of this version the application access levels is implemented; however,
                all users have the same access level in this release.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">2 IN PROGRESS</div>
                <div class="card-body">
                  <h4 class="card-title">Clients</h4>
                  <ul>
                    <li>Create Clients</li>
                    <li>Edit Clients</li>
                    <li>Search for Clients</li>
                    <li>Delete Clients</li>
                  </ul>
                  <h4 class="card-title">Projects</h4>
                  <ul>
                    <li>Create Projects</li>
                    <li>Edit Projects</li>
                    <li>Search for Projects</li>
                    <li>Delete Projects</li>
                  </ul>
                  <h4 class="card-title">Users</h4>
                  <ul>
                    <li>Add/Remove access levels</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Notes on In Progress</div>
                <div class="card-body">
                  <h4 class="card-title">Clients</h4>
                  <p class="card-text">Although must of the codding is finished,
                    the final decision on how this will be used, depends on how management
                    wants the final product to behave.
                  </p>

                  <h4 class="card-title">Projects</h4>
                  <p class="card-text">Although must of the codding is finished,
                      the final decision on how this will be used, depends on how management
                      wants the final product to behave.
                  </p>
                  <h4 class="card-title">Users</h4>
                  <p class="card-text">Although must of the codding is finished,
                      the final decision on how this will be used, depends on how management
                      wants the final product to behave.
                  </p>
                </div>
              </div>
      </div>
      <div class="col-lg-4">
          <div class="bs-component">
              <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">3 FUTURE</div>
                <div class="card-body">
                  <h4 class="card-title">REPORTING TOOLS</h4>
                  <ul>
                    <li>Order Statistics</li>
                    <li>Project Statistics</li>
                    <li>Aggregated Statistics</li>
                    <li>Outlook Prediction Algorithm</li>
                  </ul>
                  <h4 class="card-title">PRINTING/BACKUP</h4>
                  <ul>
                    <li>Order Printing/backup</li>
                    <li>Reports Printing/backup</li>
                  </ul>
                  <h4 class="card-title">OTHER APPS</h4>
                  <ul>
                    <li>Integration with project directory creator</li>
                    <li>Integration with tree file creator</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Notes on Future</div>
                <div class="card-body">
                  <h4 class="card-title">Other Apps</h4>
                  <p class="card-text">This applications are already created,
                    and will be implemented in the final product.
                  </p>
                </div>
              </div>
      </div>
    </div>
    </div>
