.example-card {
  max-width: flex;
}

.example-container {
  width: flex;
  height: flex;
}


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}