
<!-- <div class="container">
  <div class="card borderless">
    <div class="heading text-center">
      <legend>ORDER DETAILS</legend>
    </div>
      <div *ngIf="order">
      <div class="main">
        <div class="box1">
          <h6>DATE</h6>
          <p>{{order.date | date}}</p>
          <h6>NAME OF CLIENT</h6>
          <p>{{order.clientName}}</p>
          <h6>ADDRESS</h6>
          <p>{{order.address}}</p>
          <h6>PROJECT NAME</h6>
          <p>{{order.projectName}}</p>
      </div>
      <div class="box2">
          <h6>PHONE</h6>
          <p>{{order.phoneNumber}}</p>
          <h6>FIELD WORK PROMISSED</h6>
          <p>{{order.fieldWorkPromissed}}</p>
          <h6>PRINTS PROMISSED</h6>
          <p>{{order.printsPromissed}}</p>
        </div>
      </div>
      </div>
    </div> -->

<div class="container">
  <div class="heading text-center">
    <!--<legend>ORDER DETAILS<span><button type="button"  class="btn btn-info" (click)="onPrintOrder()">print</button></span></legend>-->
     <legend>ORDER DETAILS</legend>
  </div>
<div class="card alert-warning">

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>ORDER</b></ng-template>

    <ng-template ngbTabContent>

        <div *ngIf="order">
            <div>
               <div>
              <div class='row'>
              <div class="col-3 left">
                  <p>BROWARD: 954-435-7010</p>
                  <p>Dade: 305-652-7010</p>
                </div>
                <div class="col-6 center">
                  <h4>Schwebke-Shiskin & Associates, Inc.</h4>
                </div>
                <div class="col-3 right">
                  <p>3240 CORPORATE WAY</p>
                  <p>MIRAMAR, FL 33025</p>
                </div>
              </div>

              <div class='row'>
                <div class="col-4 left">
                  <h5>LAND SURVEYORS</h5>
                </div>
                <div class="col-4 center">
                <h5>ENGINEERS</h5>
                </div>
                <div class="col-4 right">
                  <h5>LAND PLANNERS</h5>
                </div>
              </div>
            </div>

            <hr>
              <div class="row">
                <div class="col-md-6">

                        <h6>DATE</h6>
                        <p>{{order.date | date}}</p>

                        <h6>NAME OF CLIENT</h6>
                        <p>{{order.clientName}}</p>
                        <label class="col-form-label" for="address">ADDRESS</label>
                        <h6>{{order.address}}</h6>
                </div>
                <div class="col-md-6">

                        <label class="col-form-label" for="phoneNumber">PHONE</label>
                        <h6>{{order.phoneNumber}}</h6>
                        <label class="col-form-label" for="fieldWorkPromissed">FIELD WORK PROMISSED</label>
                        <h6>{{order.fieldWorkPromissed}}</h6>
                        <label class="col-form-label" for="printsPromissed">PRINTS PROMISSED</label>
                        <h6>{{order.printsPromissed}}</h6>
                </div>
              </div>
                  <label class="col-form-label" for="projectName">PROJECT NAME</label>
                  <h6>{{order.projectName}}</h6>

              <hr>
                  <label class="col-form-label" for="legalDescription">LEGAL DESCRIPTION</label>
                  <h6>{{order.legalDescription}}</h6>
              <hr>
             <div class="row">

               <div class="col-md-6">
                 <div class="row">
                 <div class="col-md-6">
                        <label class="col-form-label" for="orderPlacedBy">ORDER PLACED BY</label>
                        <h6>{{order.orderPlacedBy}}</h6>
                 </div>
                 <div class="col-md-6">
                        <label class="col-form-label" for="orderReceivedBy">RECEIVED BY</label>
                        <h6>{{order.orderReceivedBy}}</h6>
                 </div>
               </div>
                  <label class="col-form-label" for="referToFileNumber">REFER TO FILE No.</label>
                  <h6>{{order.referToFileNumber}}</h6>
                  <label class="col-form-label" for="referToFieldBookNumber">REFER TO FB No.</label>
                  <h6>{{order.referToFieldBookNumber}}</h6>
                  <label class="col-form-label" for="referToOrderNumber">REFER ORDER No.</label>
                  <h6>{{order.referToOrderNumber}}</h6>
              </div>

               <div class="col-md-6">
                  <div class="row">
                    <div class="col-6">
                            <label class="col-form-label" for="fieldBook">FB</label>
                            <h6>{{order.fieldBook}}</h6>
                    </div>
                    <div class="col-6">
                            <label class="col-form-label" for="page">PG</label>
                            <h6>{{order.page}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                            <label class="col-form-label" for="section">SEC</label>
                            <h6>{{order.section}}</h6>
                    </div>
                    <div class="col-md-4">
                            <label class="col-form-label" for="township">TWP</label>
                            <h6>{{order.township}}</h6>
                    </div>
                    <div class="col-md-4">
                            <label class="col-form-label" for="range">RGE</label>
                            <h6>{{order.range}}</h6>
                    </div>
                  </div>
                      <div class="form-group">
                          <label class="col-form-label" for="partyChief">PARTY CHIEF</label>
                          <h6>{{order.partyChief}}</h6>
                      </div>
                        <label class="col-form-label" for="dateCompleted">DATE COMPLETED</label>
                        <h6>{{order.dateCompleted}}</h6>
               </div>
              </div>

              <div class="row">
                  <div class="col-md-6">

                   <div class="row">
                     <div class="col-md-4">
                            <div>
                              <label class="col-form-label" for="mail">MAIL</label>
                              <h6>{{order.mail}}</h6>
                            </div>

                            <div>
                                <label class="col-form-label" for="deliver">DELIVER</label>
                                <h6>{{order.deliver}}</h6>
                            </div>
                            <div>
                                <label class="col-form-label" for="pickup">PICK UP</label>
                                <h6>{{order.pickup}}</h6>
                            </div>

                     </div>

                     <div class="col-md-8">
                         <div>
                             <label class="col-form-label" for="mailPrintsTo">PRINTS TO</label>
                             <h6>{{order.mailPrintsTo}}</h6>
                         </div>
                         <div>
                            <label class="col-form-label" for="deliverPrintsTo">PRINTS TO</label>
                            <h6>{{order.deliverPrintsTo}}</h6>
                        </div>
                        <div>
                            <label class="col-form-label" for="printsAtTime">PRINTS AT (TIME)</label>
                            <h6>{{order.printsAtTime}}</h6>
                        </div>
                     </div>

                   </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label class="col-form-label" for="dateInvoice">DATE INVOICE</label>
                          <h6>{{order.dateInvoice}}</h6>
                        </div>
                     <div>
                         <label class="col-form-label" for="amountSetBy">AMOUNT SET BY:</label>
                         <h6>{{order.amountSetBy}}</h6>
                     </div>
                     <div>
                        <label class="col-form-label" for="invoiceTypedBy">INVOICE TYPED BY:</label>
                        <h6>{{order.invoiceTypedBy}}</h6>
                    </div>
                   </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                       <div class="col-md-6">
                          <div>
                              <label class="col-form-label" for="courierFees">COURIER FEES</label>
                              <h6>{{order.courierFees}}</h6>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div>
                              <label class="col-form-label" for="applPermitFees">APPLICATIONS/PERMIT FEES</label>
                              <h6>{{order.applPermitFees}}</h6>
                          </div>
                       </div>
                     </div>
                  </div>
                      <div class="col-md-6">
                          <label class="col-form-label" for="COD">COD</label>
                          <h6>{{order.isCOD}}</h6>
                      </div>
                  </div>

                <div class="row">
                  <div class="col-md-4">
                      <div>
                          <label class="col-form-label" for="orderNumber">ORDER No.</label>
                          <h6>{{order.orderNumber}}</h6>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div>
                          <label class="col-form-label" for="fileNumber">FILE NO.</label>
                          <h6>{{order.fileNumber}}</h6>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-form-label" for="price">PRICE $</label>
                            <h6>{{order.price}}</h6>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="text-center"><button  class="btn btn-primary" color = "accent" routerLink="/orders">Back</button></div>

            </div>
          </div>
    </ng-template>
  </ngb-tab>

    <!--Office Information-->
    <ngb-tab>
      <ng-template ngbTabTitle><b>OFFICE</b></ng-template>
      <ng-template ngbTabContent >
      <div>
        <div>
          <div class = "row left">
            <div class="col-2">
              <h5>Overtime:</h5>
              <h5>Regular:</h5>
              <h5>Total:</h5>
            </div>

            <div class="col-2">
                <h5>{{officeOvrTimeCounter}}</h5>
                <h5>{{officeRegTimeCounter}}</h5>
                <h5>{{officeTotalHours}}</h5>
              </div>
          </div>
        </div>
        <table class="table table-striped table-bordered" style="background-color: white;">
          <thead class="table-dark">
            <tr>
              <th>Employee</th>
              <th>Regular Time</th>
              <th>Overtime</th>
              <th>Total</th>
             <!-- <th>Actions</th>-->
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let time of order.time;">
              <td>{{time.userName}}</td>
              <td>{{time.time}}</td>
              <td>{{time.overTime}}</td>
              <td>{{time.time + time.overTime}}</td>
            </tr>
          </tbody>
          </table>
        </div>
      </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle><b>FIELD</b></ng-template>
        <ng-template ngbTabContent>
          <div>
          <div>
            <div class = "row left">
              <div class="col-2">
                <h5>Overtime:</h5>
                <h5>Regular:</h5>
                <h5>Total:</h5>
              </div>

              <div class="col-2">
                  <h5>{{fieldOvrTimeCounter}}</h5>
                  <h5>{{fieldRegTimeCounter}}</h5>
                  <h5>{{fieldTotalHours}}</h5>
                </div>
            </div>
          </div>
          <table class="table table-striped table-bordered" style="background-color: white;">
            <thead class="table-dark">
              <tr>
                <th>Employee</th>
                <th>Regular Time</th>
                <th>Overtime</th>
                <th>Total</th>
               <!-- <th>Actions</th>-->
              </tr>
            </thead>
            <tbody *ngFor=" let time of order.time;">
                <tr  *ngIf="time.isField">
                <td>{{time.userName}}</td>
                <td>{{time.time}}</td>
                <td>{{time.overTime}}</td>
                <td>{{time.time + time.overTime}}</td>
              </tr>
            </tbody>
            </table>
          </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>

<!--
    <div class="box-3">
        <label class="col-form-label" for="legalDescription">LEGAL DESCRIPTION</label>
        <h6>{{order.legalDescription}}</h6>
    </div>

		<div class="box-4">
			<h6>ORDER PLACED BY</h6>
          <p>{{order.orderPlacedBy}}</p>
          <h6>RECEIVED BY</h6>
          <p>{{order.orderReceivedBy}}</p>
		</div>

    </div>
      <label class="col-form-label" for="referToFileNumber">REFER TO FILE No.</label>
      <h6>{{order.referToFileNumber}}</h6>
      <label class="col-form-label" for="referToFieldBookNumber">REFER TO FB No.</label>
      <h6>{{order.referToFieldBookNumber}}</h6>
      <label class="col-form-label" for="referToOrderNumber">REFER ORDER No.</label>
      <h6>{{order.referToOrderNumber}}</h6>
    </div>

               <h6>FB</h6>
               <p>{{order.fieldBook}}</p>

               <h6>PG</h6>
               <p>{{order.page}}</p>

                            <h6>SEC</h6>
                            <h6>{{order.section}}</h6>

                            <h6>TWP</h6>
                            <p>{{order.township}}</p>

                            <h6>RGE</h6>
                            <p>{{order.range}}</p>

                      <div class="form-group">
                          <h6>PARTY CHIEF</h6>
                          <p>{{order.partyChief}}</p>
                      </div>
                        <h6>DATE COMPLETED</h6>
                        <p>{{order.dateCompleted}}</p>

                            <div>
                              <h6>MAIL</h6>
                              <p>{{order.mail}}</p>
                            </div>

                            <div>
                                <label class="col-form-label" for="deliver">DELIVER</label>
                                <h6>{{order.deliver}}</h6>
                            </div>
                            <div>
                                <h6>PICK UP</h6>
                                <p>{{order.pickup}}</p>
                            </div>

                         <div>
                             <h6>PRINTS TO</h6>
                             <p>{{order.mailPrintsTo}}</p>
                         </div>

                         <div>
                            <h6>PRINTS TO</h6>
                            <p>{{order.deliverPrintsTo}}</p>
                        </div>

                        <div>
                            <h6>PRINTS AT (TIME)</h6>
                            <p>{{order.printsAtTime}}</p>
                        </div>


                      <div>
                          <h6>DATE INVOICE</h6>
                          <p>{{order.dateInvoice}}</p>
                        </div>

                     <div>
                         <h6>AMOUNT SET BY:</h6>
                         <p>{{order.amountSetBy}}</p>
                     </div>

                     <div>
                        <h6>INVOICE TYPED BY:</h6>
                        <p>{{order.invoiceTypedBy}}</p>
                    </div>

                   </div>
                </div>

                          <div>
                              <h6>COURIER FEES</>
                              <h6>{{order.courierFees}}</h6>
                          </div>

                          <div>
                              <h6>APPLICATIONS/PERMIT FEES</h6>
                              <p>{{order.applPermitFees}}</p>
                          </div>

                          <h6>COD</h6>
                          <p>{{order.isCOD}}</p>

                      <div>
                          <h6>ORDER No.</h6>
                          <p>{{order.orderNumber}}</p>
                      </div>

                      <div>
                          <h6>FILE NO.</h6>
                          <p>{{order.fileNumber}}</p>
                      </div>

                        <div>
                            <h6>PRICE $</h6>
                            <p>{{order.price}}</p>
                        </div>

                <div class="text-center"><button  class="btn btn-primary" color = "accent" routerLink="/orders">Back</button></div>


-->
