<div class="card">
  <div class="card-body">
    <h1><i class="fas fa-plus-circle pointerCursor" routerLink="/clients/create"></i></h1>

    <!-- <form>
      <div class="form-group form-inline">
          Client search: <input class="form-control ml-2" type="search" [(ngModel)]="searchText" placeholder="Search Clients"/>
        Client search: <input class="form-control ml-2" type="text" [formControl]="filter" /> 
      </div>
    </form> -->

    
        <div class="form-group form-inline">
            Client search: <input class="form-control ml-2" type="search" [(ngModel)]="searchText" placeholder="Search Clients"/>
          <!-- Client search: <input class="form-control ml-2" type="text" [formControl]="filter" /> -->
        </div>
      
    <!-- <div *ngFor="let client of clients$ | async; index as i"> -->
        <div *ngFor="let client of clients | filter: searchText">
      <zippy title="{{client.clientName}}">
        
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Contact</th>
          </tr>
          <tr>
            <td>
              <!-- <ngb-highlight [result]="client.clientName" [term]="filter.value"></ngb-highlight> -->
               {{client.clientName}}
            </td>
            <td>
              <!-- <ngb-highlight [result]="client.date" [term]="filter.value"></ngb-highlight> -->
               {{client.date | date}}
            </td>
            <td>
              <!-- <ngb-highlight [result]="client.address" [term]="filter.value"></ngb-highlight> -->
                {{client.address}} 
            </td>
            <td>
              <!-- <ngb-highlight [result]="client.phone" [term]="filter.value"></ngb-highlight> -->
               {{client.phone}}
            </td>
            <td>
              <!-- <ngb-highlight [result]="client.contact" [term]="filter.value"></ngb-highlight> -->
               {{client.contact}}
            </td>
            <td>
              <button (click)="editClient(client._id)" class="btn btn-primary"><i class="fas fa-edit"></i></button>
              <button (click)="deleteClient(client._id)" class="btn btn-danger"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </table>

        <h3>Orders</h3>
        </zippy>
    </div>
  </div>
</div>