.table {
  width: flex;
}

.card {
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.container {
  padding:20px;
  margin:0;
}

.btn-circle {
  padding:0;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #17A2B8;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 10px;
}
