<div>
    <br>
    <mat-card>
      <section class = "mat-typography>">
        <h3> Edit Order</h3>
      </section>

      <mat-divider></mat-divider>

      <br>
      <form [formGroup]="editForm" class="create-form">


        <mat-form-field class="field-full-with">
          <input matInput placeholder = "Client" formControlName="client" #client>
        </mat-form-field>

        <mat-form-field class="field-full-with">
          <input matInput placeholder = "Project" formControlName="project" #project>
        </mat-form-field>

        <mat-form-field class="field-full-with">
          <input matInput placeholder = "Description" formControlName="description" #description>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Is Billed" formControlName="isBilled" [(value)]="selectedBilled">
            <mat-option *ngFor="let isBilled of billed" [value]='isBilled.value'>
              {{isBilled.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" formControlName="status" [(value)]="selectedStatus">
              <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                {{status.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
<!--
        <mat-form-field>
            <mat-select placeholder="Is Billed" formControlName="isBilled" #isBilled>
              <mat-option *ngFor="let isBilled of billed" [value]="isBilled.value">
                {{isBilled.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Status" formControlName="status" #status [(ngModel)]='selectedStatus'>
                <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        -->

        <mat-divider></mat-divider>
      </form>
        <br><br>
        <button mat-raised-button color = "accent" routerLink="/orders">Back</button>
        <button type="submit" (click)="editOrder(
                    client.value,
                    project.value,
                    description.value)" [disabled]="editForm.pristine" mat-raised-button color="primary">Save</button>&nbsp;

    </mat-card>
  </div>
