
<div class="card">
    <div class="card-body">
        <form [formGroup]='form'>
            <legend>Edit Order</legend>
            <div class="form-group">
              <label class="col-form-label" for="clientName">Client Name</label>
              <input formControlName="clientName" type="text" class="form-control" placeholder="Client Name" id="clientName">
           </div>

           <div class="form-group">
              <label class="col-form-label" for="projectName">Project Name</label>
              <input formControlName="projectName" type="text" class="form-control" placeholder="Project Name" id="projectName">
           </div>

           <div class="form-group">
              <label class="col-form-label" for="description">Description</label>
              <input formControlName="description" type="text" class="form-control" placeholder="Description" id="description">
           </div>

           <div class="form-group">
              <label class="col-form-label" for="isBilled">Is Billed</label>
              <input formControlName="isBilled" type="text" class="form-control" placeholder="Is Billed" id="isBilled">
           </div>
           <div class="form-group">
              <label class="col-form-label" for="status">Status</label>
              <input formControlName="status" type="text" class="form-control" placeholder="Status" id="status">
           </div>

           <button routerLink="/orders" class="btn btn-primary">Back</button>
           <button type="submit"  class="btn btn-success" (click)="editOrder()">Submit</button>
        </form>
    </div>
</div>

<!-- <div>



        <mat-form-field>
          <mat-select placeholder="Is Billed" formControlName="isBilled" [(value)]="selectedBilled">
            <mat-option *ngFor="let isBilled of billed" [value]='isBilled.value'>
              {{isBilled.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" formControlName="status" [(value)]="selectedStatus">
              <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                {{status.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>




        
        <mat-form-field>
            <mat-select placeholder="Is Billed" formControlName="isBilled" #isBilled>
              <mat-option *ngFor="let isBilled of billed" [value]="isBilled.value">
                {{isBilled.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Status" formControlName="status" #status [(ngModel)]='selectedStatus'>
                <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field>
      

        <mat-divider></mat-divider>
      </form>
        <br><br>
        <button mat-raised-button color = "accent" routerLink="/orders">Back</button>
        <button type="submit" (click)="editOrder(
                    client.value,
                    project.value,
                    description.value)" [disabled]="editForm.pristine" mat-raised-button color="primary">Save</button>&nbsp;

    </mat-card>
  </div>
 -->