.card {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  padding-left: 100px;
  padding-right: 100px;
}

.pointerCursor {
  cursor: pointer;
}
