.create-form{
    display:flex;
    flex-direction:column;
    min-width: 150px;
    width:auto;
}

.field-full-width{
    width: 50%;
}


.card {
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.container {
  padding:20px;
  margin:0;
}
