:root{
  --primary:#007BFF;
  --success:#2DA745;
  --warning:#FFC106;
  --light:  #F8F9FA;
  --dark:   #343A40;
  --danger: #DC3545;
  --info:   #17A2B8;

  --txt-dark: #212529;
  --txt-light:#FEF6FE;

  --background-color:#17224D;
  --navbar-color: #343A40;
  --background-color-temp: pink;
  --accent-color:    #007FFF;
  --main-color:      #17E9E1;

  --button-std-border-radius:5px;
  --button-rnd-border-radius:50px;

  --card-border-color:#007FFF;
  --card-background-color: rgb(236, 240, 241);
  --card-border-width: 5px;
}
