.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .navbar {
     background-color: var(--navbar-color);
     color:white;
  }

.logged-in-user {
  border-style: solid;
  border-width: 2px;
  border-color:#17a2b8;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
