.dropzone {
    min-height: 200px;
    min-width: 200px;
    display: table;
    width: 50%;
    background-color: #66ffff;
    border: dashed 1px #001a1a;
  }

  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
  }

  .dropzone-list > ul {
    width: 30%;
    list-style: none;
  }
  .dropzone-list > ul > li:before {
    content : '+';
    color: #6def9a;
  }
  .dropzone-list > ul > li {
    border: 1px solid black;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  .dropzone-list > ul.invalid > li:before {
    content : '-';
    color: #ef000f;
  }
