<mat-card>
    <p class="primary-text-color">Please select access level for new user</p>
<table  cellspacing="5">
    <tr>
      <td>
          <mat-checkbox>Administrator</mat-checkbox>
      </td>
      <td><mat-form-field >
        <input matInput>
      </mat-form-field></td>
      </tr>
      <tr>
      <td>
          <mat-checkbox>Associate</mat-checkbox>
      </td>
      <td><mat-form-field >
          <input matInput>
        </mat-form-field></td>
    </tr>
    <tr>
        <td>
            <mat-checkbox>Client</mat-checkbox>
        </td>
        <td><mat-form-field >
            <input matInput>
          </mat-form-field></td>
      </tr>
  </table>
<div>
  <button mat-button >Back</button>
  <button mat-button >Submit</button>
</div>
</mat-card>
