<mat-toolbar class="dark-accent-color" >
  <span class="text-accent-color"  >Schwebke-Shiskin & Associates, inc. </span>
  <span  style="padding:25px;" class="text-accent-color" >{{authService.getUser()}}</span>
<span class="example-fill-remaining-space"></span>
<div *ngIf="authService.loggedIn()">
<span>  <button class="text-primary-color" mat-button routerLink="/times">Time</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="/orders">Orders</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="/clients">Clients</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="">Users</button></span>
<span>  <button class="text-primary-color" mat-button (click)="authService.logout()">Logout</button></span>
</div>
<div *ngIf="!authService.loggedIn()" >
  <span><button class="text-primary-color" mat-button routerLink="/auth">Login</button></span>
  <span><button class="text-primary-color" mat-button routerLink="/users/register">Register</button></span>
</div>

</mat-toolbar>
