<mat-toolbar class="dark-primary-color" >
  <span class="text-primary-color"  >Schwebke-Shiskin & Associates, inc.</span>
  <span class="text-primary-color" >(Current User Info)</span>
<span class="example-fill-remaining-space"></span>
<span>  <button class="text-primary-color" mat-button routerLink="/list">Time</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="">Orders</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="">Clients</button></span>
<span>  <button class="text-primary-color" mat-button routerLink="">Users</button></span>
<span><a routerLink="/auth"><i class="material-icons">account_circle</i></a></span>
</mat-toolbar>