<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Schwebke-Shiskin & Associates, inc.</a>
    <span  style="padding:25px;" class="text-accent-color" >{{authService.getUser()}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse " id="navbarColor01"> 

          <ul class="navbar-nav mr-auto" *ngIf="authService.loggedIn()">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/times">Time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="authService.logout()">Logout</a> 
            </li>
          </ul>

          <ul class="navbar-nav mr-auto" *ngIf="!authService.loggedIn()">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/auth">Login</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/users/register">Register</a>
            </li>
          </ul>
    </div>
  </nav>

<!--
  <span class="text-accent-color"  >Schwebke-Shiskin & Associates, inc. </span>
  <span  style="padding:25px;" class="text-accent-color" >{{authService.getUser()}}</span>
<span class="example-fill-remaining-space"></span>
<div *ngIf="authService.loggedIn()">
<span>  <button  mat-button routerLink="/dashboard">Dashboard</button></span>
<span>  <button  mat-button routerLink="/times">Time</button></span>
<span>  <button  mat-button routerLink="/orders">Orders</button></span>
<span>  <button  mat-button routerLink="/clients">Clients</button></span>
<span>  <button  mat-button routerLink="">Users</button></span>
<span>  <button  (click)="authService.logout()">Logout</button></span>
</div>
<div *ngIf="!authService.loggedIn()" >
  <span><button  routerLink="/auth">Login</button></span>
  <span><button  routerLink="/users/register">Register</button></span>
</div>
-->

