
<mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile matTooltip="Client's can use this area to login and get services">
            <span>
                <button class="text-accent-color" mat-button routerLink="/clients-dashboard">
                    <img src="../assets/images/clients2.png" alt="associates" style="width:300px"></button>
            </span>
    </mat-grid-tile>

    <mat-grid-tile matTooltip="SSA employees login area">
            <span>
                    <button class="text-accent-color" mat-button routerLink="/associates-dashboard">
                        <img src="../assets/images/associates.png" alt="associates" style="width:300px">
                    </button>
                </span>

    </mat-grid-tile>
    <mat-grid-tile matTooltip="SSA system administrator's area">
            <button class="text-accent-color" mat-button routerLink="/admin-dashboard">
                <img src="../assets/images/admin.png" alt="admin" style="width:300px">
            </button>

    </mat-grid-tile>
</mat-grid-list>
