
<div class="container">
  <div class="card">
  <div class="heading text-center">
    <legend>ORDERS</legend>
</div>
<div *ngIf="authService.isAdmin()" class="text-center">
  <button type="button" class="btn btn-outline-info btn-circle" routerLink="" ngbTooltip="Add New Client"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
<div class="form-group form-inline">
  Orders search: <input class="form-control ml-2" placeholder=" . . . " type="text" name="orderSearch" [(ngModel)]="searchTerm"/>
<div style="padding-left: 20px; padding-right: 10px;">
  Filter by:
  <select class="form-control" id="userTypeSelect">
    <option>All</option>
    <option>Open</option>
    <option>Closed</option>
    <option>Void</option>
    <option>Billed</option>
    <option>Partially Billed</option>
  </select>
</div>

</div>

    <table class="table table-striped table-hover table-sm table-bordered">
      <thead class="text-center" style="background-color: var(--navbar-color); color:white">
        <tr>
          <th>Order No.</th>
          <th>Project Name</th>
          <th>Client</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointerCursor" *ngFor="let order of filteredOrders; let i = index;" (click) = "detailOrder(order._id)">
          <td>{{order.orderNumber}}</td>
          <td>{{order.projectName}}</td>
          <td>{{order.clientName}}</td>
          <td>
            <div >
              <div class="form-inline" >
                  <h5  *ngIf="authService.isAdmin()"><a style=" padding-right: 10px; font-size:1em; color:rgb(50, 129, 248); cursor: pointer;"><i  class="fas fa-edit" (click) = "editOrder(order._id)" ngbTooltip="Edit Order"></i></a></h5>
                  <h5><a style="padding-right: 10px; font-size:1em; color:rgb(118, 224, 150); cursor: pointer;"><i  class="fas fa-hourglass-half" (click) = "addTime(order._id, order.projectName, order.clientName, order.orderNumber)" ngbTooltip="Add Time"></i></a></h5>
                  <h5 *ngIf="authService.isAdmin()"><a style="padding-right: 10px; font-size: 1em; color:rgb(247, 137, 86); cursor: pointer;"><i  class="fas fa-trash-alt" (click) = "deleteOrder(order._id)" ngbTooltip="Delete Order"></i></a></h5>

              </div>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
